.register {

  &__nav {
    display: block;
    top: 0;
    @mixin atMedium {
      background-color: transparent;
      background-image: linear-gradient(to right, rgba(0,0,0,0) 20%, white 20%);
    }
  }

  &__form {
    max-width: 600px;
    margin: 200px auto;
  }

  &__footer {
    text-align: center;
    display: block;
    font-size: 0.875em;
  }
}

a:hover {
  text-decoration: none;
}

label, legend {
  font-weight: bold;
}

fieldset {
  margin: 40px 0;
}

button {
  height: 40px;
}

