.register {
  position: relative;

  &__nav {
    display: block;
    top: 0;
    @mixin atMedium {
      background-color: transparent;
      background-image: linear-gradient(to right, rgba(0,0,0,0) 450px, white 450px);
    }
  }

  &__heading {
    margin: 0 auto 80px auto;
    width: 600px;
    max-width: 96%;
    color: var(--blue);
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    padding-left: 12px;
    @mixin atLarge {
      margin-left: 10%;
    }
  }

  &__subheading {
    display: block;
    color: var(--dark-gray);
    font-size: 1.25rem;
    margin-left: 1px;
  }

  &__container {
    margin: 200px auto;
    @mixin atLarge {
      margin: 200px auto 100px 450px;
    }
  }

  &__form {
    margin: 0 auto;
    max-width: 600px;
    @mixin atLarge {
      margin-left: 10%;
    }
  }

  &__footer {
    text-align: center;
    display: block;
    font-size: 0.875em;
  }
}

a:hover {
  text-decoration: none;
}

label, legend {
  font-weight: bold;
}

fieldset {
  margin: 40px 0;
}

button {
  height: 50px;
}

.modal {
  display: block;
}
