.sponsors {
  margin: 80px 0;
  text-align: center;

  @mixin atMedium {
    margin: 120px 0;
  }

  @mixin atLarge {
    margin: 200px 0;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @mixin atMedium {
      margin-bottom: 60px;
    }
  }

  &__uwg {
    margin: 10px auto;
    width: 80%;
    max-width: 600px;

    @mixin atMedium {
      margin: 80px auto 50px auto;
    }
  }

  &__section {
    margin: 10px 30px;
    width: 100%;
    max-width: 350px;
  }

  &__image {
    display: block;
    height: 175px;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }
}