.button {

  &__link {
    position: relative;
    display: block;
    width: max-content;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 auto;
    border-radius: 10px;

    &:focus {
      outline: none;
    }

    &:focus&:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 10px;
      border: 2px solid #ccc;
    }
  }

  &--small {
    padding: 15px 30px;
    font-size: 0.75em;
    font-weight: 600;
    margin: 50px auto 70px auto;

    @mixin atMedium {
      font-size: 1em;
      padding: 20px 40px;
      margin-top: 60px;
      margin-bottom: 120px;
    }

    @mixin atLarge {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  &--black {
    color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
    transition: 0.3s;

    &:hover, &:focus {
      background-color: var(--blue);
      color: var(--white);
      border-color: transparent;
    }
  }

  &--white {
    background-color: var(--white);
    color: var(--black);
    transition: 0.3s;

    &:hover, &:focus {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}