.footer {

  &__container {
    margin: 60px 0;
  }

  &__link {
    color: var(--white);
  }

  &__social {
    text-align: center;

    &__text {
      font-weight: 700;
      letter-spacing: 2px;
    }

    &__icon {
      width: 40px;
      height: 40px;
      border-radius: 25px;
      background-color: var(--gray);
      display: inline-block;
      margin: 0 5px;
    }
  }

  &__subfooter {
    background-color: var(--black);
    color: var(--white);
    font-size: 0.75em;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.25;
    padding: 10px 20px;
    margin: 0;

    @mixin atMedium {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @mixin atLarge {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__novelle {
      @mixin atMedium {
        text-align: right;
      }
      @mixin atLarge {
        text-align: center;
      }
    }

    &__policy {
      padding: 12px 0;
      @mixin atLarge {
        text-align: right;
      }
    }
  }
}