.footer {

  &__container {
    margin: 60px 0;
  }

  &__link {
    color: var(--white);
  }
  
  &__nav {
    display: none;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0px auto;
    padding: 20px;
    @mixin atMedium {
      display: flex;
    }
  }

  &__line {
    display: none;
    width: 1500px;
    max-width: calc(100% - 60px);
    margin: 0 auto 40px auto;
    height: 2px;
    background-color: var(--light-gray);
    @mixin atMedium {
      display: block;
    }
  }

  &__list {
    @mixin atMedium {
      display: flex;
    }
  }

  &__subcontainer {
    @mixin atLarge {
      max-width: 1100px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }

  &__social {
    text-align: center;

    &__text {
      font-weight: 700;
      letter-spacing: 2px;

      @mixin atLarge {
        margin-bottom: 0;
      }
    }
  }

  &__ehl {
    display: none;
    @mixin atLarge {
      display: block;
      color: var(--black);
      letter-spacing: 1px;
    }

    &__span {
      display: block;
      font-weight: 700;
      margin: 5px 0;
    }
  }

  &__rapha {
    display: none;
    @mixin atLarge {
      display: block;
    }
  }

  &__subfooter {
    background-color: var(--black);
    color: var(--white);
    font-size: 0.75em;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.25;
    padding: 10px 20px;
    margin: 0;

    @mixin atMedium {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @mixin atLarge {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__novelle {
      @mixin atMedium {
        text-align: right;
      }
      @mixin atLarge {
        text-align: center;
      }
    }

    &__policy {
      padding: 12px 0;
      @mixin atLarge {
        text-align: right;
      }
    }
  }
}