.hero {
  position: relative;
  width: calc(100% - 20px);
  height: 80vh;
  margin: 10px auto;
  
  @mixin atMedium {
    height: 96vh;
    margin-top: 20px;
    width: calc(100% - 40px);
    overflow: hidden;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% bottom;

    @mixin atMedium {
      transform: translateY(var(--translateY)) scale(var(--scale));
      will-change: transform;
    }
  }

  &__content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    text-align: center;
    min-width: 300px;
    width: 90%;
    @mixin atMedium {
      top: 45%;
    }
  }

  &__preheading {
    letter-spacing: 3px;
    @mixin atMedium {
      font-size: 1.25em;
    }
  }

  &__heading {
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 400;
    @mixin atMedium {
      font-size: 5em;
      letter-spacing: 5px;
      margin: 40px auto;
    }
    @mixin atLarge {
      font-size: 6em;
    }
  }

  &__subheading {
    display: block;
    font-weight: 200;
    @mixin atMedium {
      display: inline;
    }
  }

  &__text {
    font-size: 1.125em;
    letter-spacing: 2px;
    font-weight: 200;
    @mixin atMedium {
      font-size: 1.25em;
    }
  }

  &__link {
    position: relative;
    background-color: var(--blue);
    padding: 20px 60px;
    margin-top: 80px;
    box-shadow: 2px 2px 5px #333;
    transition: background 0.2s;

    &:hover {
      background-color: var(--dark-blue);
      transition: background 0.2s;
    }

    &:active {
      left: 1px;
      top: 2px;
      box-shadow: 0px 0px 5px #333;
    }
  }

  &__mobile-link {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    background-color: var(--blue);
    padding: 20px 40px;

    @mixin atMedium {
      display: none;
    }
  }

  &__rapha-logo {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }

  &__ehl-logo {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: var(--white);
    font-weight: 200;
    letter-spacing: 2px;

    &__span {
      display: block;
      font-weight: 400;
      margin: 5px 0;
    }
  }

  &--hidden {
    display: none;
    @mixin atMedium {
      display: initial;
    }
  }
}