.nav {

  &__link {
    display: block;
    width: 200px;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 4px;
    margin: 0 auto;
  }

  &__link--black {
    color: var(--black);
    border: 1.5px solid var(--black);
    padding: 15px;
    font-size: 0.75em;
    letter-spacing: 3px;
    font-weight: 600;
  }
}