.nav {
  display: none;
  width: 100%;
  padding: 0 20px;
  height: 70px;
  background-color: white;
  position: fixed;
  top: -200px;
  left: 0px;
  z-index: 15;

  @mixin atLarge {
    height: 90px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 10px auto;
  }

  &__logo {

  }

  &__list {
    margin: 0;
    padding: 0;
    display: none;
    @mixin atLarge {
      display: flex;
    }
  }

  &__section {
    margin: 25px;
    list-style-type: none;
  }

  &__link {
    font-weight: 400;
    text-decoration: none;
    color: var(--black);
    transition: 0.25s;

    &:hover {
      color: var(--blue);
    }
  }

  &__cta {
    font-weight: 600;
  }

  &--is-hidden {
    display: block;
    transition: 0.5s;
  }

  &--is-fixed {
    top: 0;
    left: 0;
    transition: 0.5s;
  }
}